.neon-btn {
    --neon: #6366f1;

    position: relative;
    margin-top: 2rem;
    width: 260px;
    height: 52px;
    border-radius: 12px;
    border: none;
    background: #0b1020;
    color: white;
    font-size: 0.95rem;
    font-weight: 600;
    cursor: pointer;
    overflow: hidden;
    box-shadow:
        0 0 0 1px rgba(255,255,255,0.12),
        0 0 40px rgba(99,102,241,0.55),
        0 0 80px rgba(99,102,241,0.35);
}

/* TEXTO */
.label {
    position: relative;
    z-index: 3;
    pointer-events: none;
}

/* BORDE NEÓN GIRANDO */
.neon-btn::before {
    content: "";
    position: absolute;
    inset: -3px;
    border-radius: 16px;

    background: linear-gradient(
        120deg,
        transparent 30%,
        var(--neon),
        transparent 70%
    );
    background-size: 300% 300%;
    animation: borderMove 4s linear infinite;
    

    filter: blur(0.6px);
    z-index: 0;
}

.neon-btn.success {
    --neon: #22c55e;
}

/* FONDO INTERNO */
.neon-btn::after {
    content: "";
    position: absolute;
    inset: 2px;
    border-radius: 11px;
    background: #0b1020;
    z-index: 1;
    pointer-events: none;
    will-change: transform;
}

/* LUZ QUE SIGUE EL CURSOR */
.neon-btn:hover {
    background:
        radial-gradient(
            320px circle at var(--x) var(--y),
            rgba(99,102,241,0.55),
            rgba(99,102,241,0.25) 40%,
            transparent 70%
        ),
        #0b1020;
}
.neon-btn:focus-visible {
    outline: none;
    box-shadow:
        0 0 0 2px rgba(255,255,255,0.2),
        0 0 0 6px rgba(99,102,241,0.6);
}

/* PROGRESO */
.progress-bar {
    position: absolute;
    inset: 0;
    width: 0%;
    background: linear-gradient(
        90deg,
        rgba(99,102,241,0.35),
        rgba(99,102,241,0.65)
    );
    transition: width 0.3s ease;
    z-index: 2;
}

/* DESHABILITADO */
.neon-btn:disabled {
    cursor: not-allowed;
    opacity: 0.85;
}

/* ERROR */
.error {
    margin-top: 0.75rem;
    color: #ef4444;
    text-align: center;
    font-size: 0.9rem;
}

.neon-btn.error {
    --neon: #ef4444;
}

/* ANIMACIÓN BORDE */
@keyframes borderMove {
    0%   { background-position:   300% 50%; }
    100% { background-position: 0% 50%; }
}
