html,
body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

body {
    font-family: system-ui, sans-serif;
    background: radial-gradient(
        circle at top,
        #0f172a,
        #020617
    );
    color: white;
}
